/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721174400&semt=ais_user') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #444;
    margin-bottom: 2rem;
}

form div {
    margin-bottom: 2rem;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: #555;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

button:active {
    background: linear-gradient(to right, #1a53db, #6a11cb);
}